@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.about_container {
  display: flex;
  margin: 30px 60px 30px 60px;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
  .about_container .container_foto_perfil {
    text-align: center;
    background-image: url("../imagenes/perfil foto -032.jpg");
    background-size: cover;
    width: 448px; }
    .about_container .container_foto_perfil .container_nombre {
      position: relative;
      top: 450px; }
      .about_container .container_foto_perfil .container_nombre h2 {
        color: #8dc63f; }
  .about_container .container_primario {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .about_container .container_primario .datos_container .datos {
      display: flex;
      margin: 20px 20px 0px 20px; }
      .about_container .container_primario .datos_container .datos .title_color {
        color: #8dc63f;
        font-weight: bold; }
        .about_container .container_primario .datos_container .datos .title_color h4 {
          margin: 10px; }
      .about_container .container_primario .datos_container .datos .text_datos {
        margin-left: 50px;
        font-weight: lighter; }
        .about_container .container_primario .datos_container .datos .text_datos div {
          margin: 10px; }
    .about_container .container_primario hr {
      border: 0.5px solid #8dc63f;
      height: 0;
      width: 92%;
      margin: 20px; }
    .about_container .container_primario .menu_container {
      display: flex;
      margin: 0px 30px 0px 30px;
      justify-content: space-between; }
      .about_container .container_primario .menu_container .style_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px; }
        .about_container .container_primario .menu_container .style_menu:hover {
          cursor: pointer; }
          .about_container .container_primario .menu_container .style_menu:hover .icon_menu {
            background-color: #4f8702; }
          .about_container .container_primario .menu_container .style_menu:hover h3::after {
            width: 100%;
            left: 0; }
        .about_container .container_primario .menu_container .style_menu:active .icon_menu {
          transform: scale(0.9);
          transition: 0.4s; }
        .about_container .container_primario .menu_container .style_menu:active h3::after {
          width: 0%;
          left: 50%;
          transition: 0.4s; }
        .about_container .container_primario .menu_container .style_menu .icon_menu {
          width: 100px;
          border-radius: 10PX;
          margin-bottom: 1rem;
          background-color: #8dc63f;
          margin: 0 -.25rem;
          padding: 0 .25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
          box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
        .about_container .container_primario .menu_container .style_menu h3 {
          margin-top: 10px;
          position: relative; }
          .about_container .container_primario .menu_container .style_menu h3::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 4px;
            background-color: #8dc63f;
            left: 50%;
            bottom: -10px;
            transition: all 0.4s ease-in-out; }
    .about_container .container_primario .redes_Container {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: space-around; }
      .about_container .container_primario .redes_Container .redes {
        display: flex; }
        .about_container .container_primario .redes_Container .redes .icono_linkedin {
          box-shadow: inset 0 0 0 0 #0505fa;
          margin: 0 -.25rem;
          padding: 0 .25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
          .about_container .container_primario .redes_Container .redes .icono_linkedin:hover {
            box-shadow: inset 100px 0 0 0 #07176e; }
          .about_container .container_primario .redes_Container .redes .icono_linkedin img {
            width: 29px;
            margin: 15px; }
        .about_container .container_primario .redes_Container .redes .icono_github {
          box-shadow: inset 0 0 0 0 #a600ff;
          margin: 0 -.25rem;
          padding: 0 .25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
          .about_container .container_primario .redes_Container .redes .icono_github:hover {
            box-shadow: inset 0 100px 0 0 #7f00df; }
          .about_container .container_primario .redes_Container .redes .icono_github img {
            width: 29px;
            margin: 15px; }
        .about_container .container_primario .redes_Container .redes .icono_facebook {
          box-shadow: inset 0 0 0 0 #62d5ff;
          margin: 0 -.25rem;
          padding: 0 .25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
          .about_container .container_primario .redes_Container .redes .icono_facebook:hover {
            box-shadow: inset -100px 0 0 0 #1051b2; }
          .about_container .container_primario .redes_Container .redes .icono_facebook img {
            width: 29px;
            margin: 15px; }
        .about_container .container_primario .redes_Container .redes .icono_whatsapp {
          box-shadow: inset 0 0 0 0 #b8cc00;
          margin: 0 -.25rem;
          padding: 0 .25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
          .about_container .container_primario .redes_Container .redes .icono_whatsapp:hover {
            box-shadow: inset 0 -100px 0 0 #30a800; }
          .about_container .container_primario .redes_Container .redes .icono_whatsapp img {
            width: 29px;
            margin: 15px; }
      .about_container .container_primario .redes_Container .btn_pricipal {
        color: white;
        font-weight: bold;
        width: 150px;
        border-radius: 10PX;
        margin-bottom: 1rem;
        background-color: #8dc63f;
        padding: 10px;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
        .about_container .container_primario .redes_Container .btn_pricipal:hover {
          background-color: #4f8702; }
        .about_container .container_primario .redes_Container .btn_pricipal:active {
          transform: scale(0.9);
          transition: 0.4s; }

html {
  background-color: #c3c3c3; }

.background_2 {
  background: #505050;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%); }

html {
  color: white;
  font-family: 'Montserrat', sans-serif; }

.text_title {
  font-size: 50px;
  margin: 30px; }

/* css reset */
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

.conocimientos_container {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px 30px 60px;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
  .conocimientos_container .conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .conocimientos_container .conocimientos .progresBar__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 10px 80px 10px 10px; }
      .conocimientos_container .conocimientos .progresBar__container .progress {
        position: relative;
        width: 300px;
        height: 20px;
        background: grey;
        border-radius: 5px;
        overflow: hidden;
        margin: 5px;
        border: 2px solid white; }
        .conocimientos_container .conocimientos .progresBar__container .progress .progress__fill {
          width: 0%;
          height: 100%;
          background: #8dc63f;
          transition: all 7s; }
        .conocimientos_container .conocimientos .progresBar__container .progress .progress__text {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translatey(-50%); }

.idiomas_container {
  display: flex;
  margin: 30px 60px 30px 60px;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; }
  .container .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    transform: translate(110%, -20%);
    margin: 40px;
    padding: 20px;
    border: 2px solid #414042;
    box-shadow: rgba(234, 234, 234, 0.25) 0px 30px 60px -12px inset, rgba(81, 81, 81, 0.3) 0px 18px 36px -18px inset; }

.porcent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #191919;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
  .porcent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
    .porcent .number h2 {
      font-weight: 700;
      font-size: 40px; }
      .porcent .number h2 span {
        color: white; }

.text_circulo {
  position: relative;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase; }

svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-85deg) !important; }
  svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round !important;
    transform: translate(5px, 5px); }

/*Claculo para simular el porcent*/
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440; }

.cart:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 100) / 100);
  stroke: #8dc63f; }

.cart:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #8dc63f; }

.banner_icon_conocimientos {
  width: 300px;
  height: 70vh;
  overflow: hidden;
  position: relative;
  background-color: #191919; }
  .banner_icon_conocimientos h2 {
    margin: 10px;
    font-size: 1.4rem; }
  .banner_icon_conocimientos .container_img {
    position: absolute;
    width: 100%;
    height: 100%; }
    .banner_icon_conocimientos .container_img .media_img {
      overflow: hidden;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      .banner_icon_conocimientos .container_img .media_img::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../iconos/iconosMenu-web.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
        background-position: center 80%; }

.banner_icon_idiomas {
  width: 300px;
  height: 60vh;
  overflow: hidden;
  position: relative;
  background-color: #191919; }
  .banner_icon_idiomas h2 {
    margin: 10px;
    font-size: 1.4rem; }
  .banner_icon_idiomas .container_img {
    position: absolute;
    width: 100%;
    height: 100%; }
    .banner_icon_idiomas .container_img .media_img {
      overflow: hidden;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      .banner_icon_idiomas .container_img .media_img::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../iconos/iconosMenu-idioma.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
        background-position: center 80%; }

.banner_icon_habilidades {
  width: 300px;
  height: 90vh;
  overflow: hidden;
  position: relative;
  background-color: #191919; }
  .banner_icon_habilidades h2 {
    margin: 10px;
    font-size: 1.4rem; }
  .banner_icon_habilidades .container_img {
    position: absolute;
    width: 100%;
    height: 100%; }
    .banner_icon_habilidades .container_img .media_img {
      overflow: hidden;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      .banner_icon_habilidades .container_img .media_img::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../iconos/iconosMenu-habilidad.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
        background-position: center 80%; }

.banner_icon_experiencia {
  width: 300px;
  height: 180vh;
  overflow: hidden;
  position: relative;
  background-color: #191919; }
  .banner_icon_experiencia h2 {
    margin: 10px;
    font-size: 1.4rem; }
  .banner_icon_experiencia .container_img {
    position: absolute;
    width: 100%;
    height: 100%; }
    .banner_icon_experiencia .container_img .media_img {
      overflow: hidden;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      .banner_icon_experiencia .container_img .media_img::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../iconos/iconosMenu-experiencia.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
        background-position: center 80%; }

.banner_icon_portafolio {
  width: 300px;
  height: 70vh;
  overflow: hidden;
  position: relative;
  background-color: #191919; }
  .banner_icon_portafolio h2 {
    margin: 10px;
    font-size: 1.4rem; }
  .banner_icon_portafolio .container_img {
    position: absolute;
    width: 100%;
    height: 100%; }
    .banner_icon_portafolio .container_img .media_img {
      overflow: hidden;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
      .banner_icon_portafolio .container_img .media_img::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../iconos/iconosMenu-portafolio.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
        background-position: center 80%; }

.experiencia_container {
  display: flex;
  margin: 30px 60px 30px 60px;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
  .experiencia_container .experiencia {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .experiencia_container .wrapper {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
    z-index: 2; }
    .experiencia_container .wrapper .center-line {
      position: absolute;
      height: 100%;
      width: 4px;
      background: white;
      left: 50%;
      top: 50px;
      transform: translateX(-50%); }
    .experiencia_container .wrapper .row {
      display: flex; }
      .experiencia_container .wrapper .row section {
        background: #939598;
        border-radius: 5px;
        width: calc(50% - 40px);
        padding: 20px;
        position: relative;
        border: 2px solid white; }
        .experiencia_container .wrapper .row section:before {
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          background: white;
          top: 28px;
          z-index: -1;
          transform: rotate(45deg); }
    .experiencia_container .wrapper .row-1 {
      justify-content: flex-start; }
    .experiencia_container .wrapper .row-2 {
      justify-content: flex-end; }
  .experiencia_container .row-1 section:before {
    right: -7px; }
  .experiencia_container .row-1 section .icon {
    top: 15px;
    right: -60px; }
  .experiencia_container .row-2 section:before {
    left: -7px; }
  .experiencia_container .row-2 section .icon {
    top: 15px;
    left: -60px; }
  .experiencia_container .row section .icon {
    position: absolute;
    background: #8dc63f;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 5px 0 4px rgba(0, 0, 0, 0.05); }
  .experiencia_container .row section .details {
    display: flex;
    justify-content: space-between;
    align-content: flex-start; }
    .experiencia_container .row section .details .title {
      font-size: 20px;
      font-weight: 600;
      width: 170px; }
    .experiencia_container .row section .details span {
      font-size: 16px; }
  .experiencia_container .row section p {
    margin: 10px 0 17px 0;
    text-align: justify; }

.habilidades_container {
  display: flex;
  margin: 30px 60px 30px 60px;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
  .habilidades_container .wrap {
    margin: 70px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .habilidades_container .tarjeta-wrap {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800; }
    .habilidades_container .tarjeta-wrap:hover .tarjeta {
      transform: rotateY(180deg); }
  .habilidades_container .tarjeta {
    border-radius: 10px;
    width: 250px;
    height: 350px;
    background: #8dc63f;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
    .habilidades_container .tarjeta h3 {
      text-align: center;
      transform: translate(0, 40px); }
  .habilidades_container .adelante {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .habilidades_container .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: "open sans";
    background: #4f8702;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
    .habilidades_container .atras P {
      text-align: justify; }
  .habilidades_container .card1 {
    background-image: url("../iconos/iconos_habilidades-02.svg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center; }
  .habilidades_container .card2 {
    background-image: url("../iconos/iconos_habilidades-03.svg");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; }
  .habilidades_container .card3 {
    background-image: url("../iconos/iconos_habilidades-04.svg");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; }

.portafolio_container {
  display: flex;
  margin: 30px 60px 30px 60px;
  background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
  .portafolio_container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    .portafolio_container *:before {
      margin: 0;
      padding: 0;
      box-sizing: border-box; }
    .portafolio_container *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box; }
  .portafolio_container .clear-fix:after {
    display: block;
    clear: both;
    content: ""; }
  .portafolio_container .img-responsive1 {
    height: 110%;
    transform: translate(-130px); }
  .portafolio_container .img-responsive2 {
    height: 110%;
    transform: translate(-70px); }
  .portafolio_container .img-responsive3 {
    height: 110%;
    transform: translate(-250px); }
  .portafolio_container .card__collection {
    position: relative;
    display: block;
    padding: 10px;
    font-family: "Do Hyeon", sans-serif;
    overflow: hidden; }
    .portafolio_container .card__collection .cards {
      width: 280px;
      height: 400px;
      display: block;
      background-size: cover;
      float: left;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      background-position: center;
      margin: 10px; }
    .portafolio_container .card__collection .cards--two {
      position: relative;
      backface-visibility: hidden; }
      .portafolio_container .card__collection .cards--two p {
        position: absolute;
        top: 83%;
        left: -100%;
        text-transform: capitalize;
        color: #fff;
        font-size: 20px;
        z-index: 8;
        transition: all 0.6s ease; }
      .portafolio_container .card__collection .cards--two:hover p {
        left: 8%; }
      .portafolio_container .card__collection .cards--two:hover .img-responsive1 {
        transform: translate(-130px, -15px); }
      .portafolio_container .card__collection .cards--two:hover .img-responsive2 {
        transform: translate(-70px, -15px); }
      .portafolio_container .card__collection .cards--two:hover .img-responsive3 {
        transform: translate(-250px, -15px); }
      .portafolio_container .card__collection .cards--two:hover .cards--two__rect {
        top: 75%; }
        .portafolio_container .card__collection .cards--two:hover .cards--two__rect:before {
          transform: translateY(15px); }
      .portafolio_container .card__collection .cards--two:hover li {
        transform: translateY(0); }
      .portafolio_container .card__collection .cards--two:hover .cards--two__tri {
        right: -40%; }
        .portafolio_container .card__collection .cards--two:hover .cards--two__tri:before {
          right: -312px; }
      .portafolio_container .card__collection .cards--two img {
        transition: all 0.2s ease; }
      .portafolio_container .card__collection .cards--two ul {
        list-style: none;
        position: absolute;
        bottom: 0;
        left: 10px;
        z-index: 9; }
        .portafolio_container .card__collection .cards--two ul li {
          display: inline-block;
          font-size: 16px;
          margin: 7px;
          color: #fff;
          transition: all 0.2s ease-in-out;
          transform: translateY(100px); }
          .portafolio_container .card__collection .cards--two ul li:nth-child(2) {
            transition-delay: 0.2s; }
          .portafolio_container .card__collection .cards--two ul li:nth-child(3) {
            transition-delay: 0.3s; }
          .portafolio_container .card__collection .cards--two ul li:nth-child(4) {
            transition-delay: 0.4s; }
    .portafolio_container .card__collection .cards--two__tri {
      border-top: 220px solid transparent;
      border-bottom: 190px solid transparent;
      border-right: 288px solid #fff;
      opacity: 0.9;
      position: absolute;
      display: block;
      top: 0;
      right: -100%;
      transition: all 0.3s ease-in-out; }
      .portafolio_container .card__collection .cards--two__tri:before {
        border-top: 220px solid transparent;
        border-bottom: 190px solid transparent;
        border-right: 288px solid #57ccfd;
        position: absolute;
        content: "";
        display: block;
        top: -220px;
        right: -612px;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s; }
    .portafolio_container .card__collection .cards--two__rect {
      width: 750px;
      height: 200px;
      background: #b6e802;
      display: block;
      position: absolute;
      top: 175%;
      left: -78%;
      transform: rotate(30deg);
      z-index: 5;
      opacity: 0.9;
      transition: all 0.3s ease-in-out; }
      .portafolio_container .card__collection .cards--two__rect:before {
        content: "";
        display: block;
        width: 100%;
        position: relative;
        height: 100%;
        background: #2f302e;
        transform: translateY(200px);
        z-index: 2;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.1s; }

.container_texto_animado {
  margin-top: 20px;
  display: flex;
  width: 800px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: #8dc63f;
  justify-content: flex-start;
  margin-left: 20px; }

.container_texto_animado .text {
  position: relative;
  color: #505050 23%;
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px; }

.container_texto_animado .text.first-text {
  color: white; }

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #505050;
  border-left: 2px solid #8dc63f;
  animation: animate 4s steps(12) infinite; }

@keyframes animate {
  40%, 60% {
    left: calc(100% + 4px); }
  100% {
    left: 0%; } }

@media (max-width: 768px) {
  .about_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    background: linear-gradient(180deg, #505050 23%, #2e2e2e 80%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
    .about_container .container_foto_perfil {
      display: flex;
      justify-content: center;
      border: 2px solid #ff0099;
      text-align: center;
      background-image: none;
      background-size: none;
      background-position: center;
      background-repeat: none;
      height: 700px;
      width: auto; }
      .about_container .container_foto_perfil .container_nombre {
        border: 2px solid #0099ff;
        position: relative;
        top: 450px;
        width: 300px;
        height: 80px; }
        .about_container .container_foto_perfil .container_nombre h2 {
          color: #8dc63f; }
    .about_container .container_primario {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .about_container .container_primario .datos_container .datos {
        font-size: 14px;
        display: flex;
        margin: 10px 10px 0px 10px; }
        .about_container .container_primario .datos_container .datos .title_color {
          color: #8dc63f;
          font-weight: bold; }
          .about_container .container_primario .datos_container .datos .title_color h4 {
            margin: 10px; }
        .about_container .container_primario .datos_container .datos .text_datos {
          margin-left: 50px;
          font-weight: lighter; }
          .about_container .container_primario .datos_container .datos .text_datos div {
            margin: 10px; }
      .about_container .container_primario hr {
        border: 0.5px solid #8dc63f;
        height: 0;
        width: 50%;
        margin: 20px; }
      .about_container .container_primario .menu_container {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;
        justify-content: space-between;
        width: 350px; }
        .about_container .container_primario .menu_container .style_menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 25px; }
          .about_container .container_primario .menu_container .style_menu:hover {
            cursor: pointer; }
            .about_container .container_primario .menu_container .style_menu:hover .icon_menu {
              background-color: #4f8702; }
            .about_container .container_primario .menu_container .style_menu:hover h3::after {
              width: 100%;
              left: 0; }
          .about_container .container_primario .menu_container .style_menu:active .icon_menu {
            transform: scale(0.9);
            transition: 0.4s; }
          .about_container .container_primario .menu_container .style_menu:active h3::after {
            width: 0%;
            left: 50%;
            transition: 0.4s; }
          .about_container .container_primario .menu_container .style_menu .icon_menu {
            width: 100px;
            border-radius: 10PX;
            margin-bottom: 1rem;
            background-color: #8dc63f;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
          .about_container .container_primario .menu_container .style_menu h3 {
            margin-top: 10px;
            position: relative; }
            .about_container .container_primario .menu_container .style_menu h3::after {
              position: absolute;
              content: "";
              width: 0%;
              height: 4px;
              background-color: #8dc63f;
              left: 50%;
              bottom: -10px;
              transition: all 0.4s ease-in-out; }
      .about_container .container_primario .redes_Container {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        justify-content: space-around; }
        .about_container .container_primario .redes_Container .redes {
          display: flex; }
          .about_container .container_primario .redes_Container .redes .icono_linkedin {
            box-shadow: inset 0 0 0 0 #0505fa;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
            .about_container .container_primario .redes_Container .redes .icono_linkedin:hover {
              box-shadow: inset 100px 0 0 0 #07176e; }
            .about_container .container_primario .redes_Container .redes .icono_linkedin img {
              width: 29px;
              margin: 15px; }
          .about_container .container_primario .redes_Container .redes .icono_github {
            box-shadow: inset 0 0 0 0 #a600ff;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
            .about_container .container_primario .redes_Container .redes .icono_github:hover {
              box-shadow: inset 0 100px 0 0 #7f00df; }
            .about_container .container_primario .redes_Container .redes .icono_github img {
              width: 29px;
              margin: 15px; }
          .about_container .container_primario .redes_Container .redes .icono_facebook {
            box-shadow: inset 0 0 0 0 #62d5ff;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
            .about_container .container_primario .redes_Container .redes .icono_facebook:hover {
              box-shadow: inset -100px 0 0 0 #1051b2; }
            .about_container .container_primario .redes_Container .redes .icono_facebook img {
              width: 29px;
              margin: 15px; }
          .about_container .container_primario .redes_Container .redes .icono_whatsapp {
            box-shadow: inset 0 0 0 0 #b8cc00;
            margin: 0 -.25rem;
            padding: 0 .25rem;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out; }
            .about_container .container_primario .redes_Container .redes .icono_whatsapp:hover {
              box-shadow: inset 0 -100px 0 0 #30a800; }
            .about_container .container_primario .redes_Container .redes .icono_whatsapp img {
              width: 29px;
              margin: 15px; }
    .about_container .btn_pricipal {
      color: white;
      font-weight: bold;
      width: 150px;
      border-radius: 10PX;
      margin-bottom: 1rem;
      background-color: #8dc63f;
      padding: 10px;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
      .about_container .btn_pricipal:hover {
        background-color: #4f8702; }
      .about_container .btn_pricipal:active {
        transform: scale(0.9);
        transition: 0.4s; } }

@media (max-width: 768px) {
  .container_texto_animado {
    display: none;
    margin-top: 20px;
    display: flex;
    width: 800px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: #8dc63f;
    justify-content: flex-start;
    margin-left: 20px; }
  .container_texto_animado .text {
    position: relative;
    display: none;
    color: #505050 23%;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px; }
  .container_texto_animado .text.first-text {
    color: white; }
  .text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #505050;
    border-left: 2px solid #8dc63f;
    animation: animate 4s steps(12) infinite; }
  @keyframes animate {
    40%,
    60% {
      left: calc(100% + 4px); }
    100% {
      left: 0%; } } }
