.habilidades_container {
    display: flex;
    @include contenedor-section;


    .cards_container {
        display: flex;
        align-items: center;
        margin-left: 50px;

        .card {
            margin: 20px;
            width: 250px;
            height: 460px;
        }

        .card__inner {
            width: 100%;
            height: 100%;
            transition: transform 1s;
            transform-style: preserve-3d;
            cursor: pointer;
            position: relative;
        }

        .card__inner.is-flipped {
            transform: rotateY(180deg);
        }

        .card__face {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            border-radius: 16px;
            box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);


        }

        .card__face--front {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // background: rgb(141,198,63);
            // background: linear-gradient(180deg, rgba(141,198,63,1) 23%, rgba(79,135,2,1) 80%);
            background: rgb(141, 198, 63);
            background: radial-gradient(circle, rgba(141, 198, 63, 1) 23%, rgba(79, 135, 2, 1) 80%);

            h2 {
                font-size: 20px;
            }

            .icono_skill {
                display: block;
                margin: 0 auto 30px;
                width: 100px;
                width: 100px;
                height: 100px;
            }

        }

        .card__face--back {
            background-color: $color-secundario;
            transform: rotateY(180deg);
        }

        .card__content {
            width: 100%;
            height: 100%;
        }

        .card__header {
            position: relative;
            padding: 30px 30px 40px;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-primario;
                z-index: -1;
                border-radius: 0px 0px 50% 0px;
            }

            h2 {
                font-size: 1rem;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
            }
        }



        .card__body {
            padding: 10px 30px 10px 30px;
            text-align: justify;

            h3 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            p {
                font-size: 1rem;
                line-height: 1.4;
            }
        }

    }
}