@media (max-width: 600px) {


    .about_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include contenedor-section_responsive;



        .container_foto_perfil {
            display: flex;
            justify-content: center;
            background-size: cover;
            background-position: center;
            height: 650px;
            width: 100vw;
            margin: 0px;
            .container_nombre {
                position: relative;
                top: 540px;
                border-radius: 10px;
                height: 80px;
    
    
            }
        }


        .container_primario {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;


            .datos_container {
                display: flex;
                width: 400px;
                justify-content: center;
                flex-direction: column;

                .datos {
                    font-size: 14px;
                    display: flex;
                    margin: 10px 10px 0px 10px;

                    .title_color {
                        color: $color-primario;
                        font-weight: bold;

                        h4 {
                            margin: 10px;
                        }

                        .email {
                            display: none;
                        }
                    }

                    .text_datos {
                        margin-left: 50px;
                        font-weight: lighter;
                        // display: none;


                        div {
                            margin: 10px;
                        }

                        .email {
                            display: none;
                        }
                    }
                }
            }

            hr {
                border: 0.5px solid $color-primario;
                height: 0;
                width: 95%;
                margin: 20px;
                // display: none;


            }

            .menu_container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 0px 0px 0px 0px;
                // display: none;


                .style_menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 15px;

                    &:hover {
                        cursor: pointer;

                        .icon_menu {
                            background-color: $color-secundario;

                        }

                    
                    }

                


                   
                }
            }


          


        }


        .btn_pricipal {
            // display: none;

            color: $color-white;
            font-weight: bold;
            width: 150px;
            border-radius: 10PX;
            margin-bottom: 1rem;
            background-color: $color-primario;
            padding: 10px;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);

            &:hover {
                background-color: $color-secundario;
            }

            &:active {
                transform: scale(0.9);
                transition: 0.4s;
            }
        }
    }




}