@media (max-width: 600px) {
    .portafolio_container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        @include contenedor-section_responsive;
        align-items: center;

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            &:before {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            &:after {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
        }

        .clear-fix {
            &:after {
                display: block;
                clear: both;
                content: "";
            }
        }

        .img-responsive1 {
            height: 110%;
            transform: translate(-130px);
        }

        .img-responsive2 {
            height: 110%;
            transform: translate(-70px);
        }

        .img-responsive3 {
            height: 110%;

            transform: translate(-250px);
        }


        .card__collection {
            position: relative;
            display: block;
            padding: 10px;
            font-family: "Do Hyeon", sans-serif;
            overflow: hidden;

            .cards {
                width: 280px;
                height: 400px;
                display: block;
                background-size: cover;
                float: left;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                background-position: center;
                margin: 10px;
            }

            .cards--two {
                position: relative;
                backface-visibility: hidden;

                p {
                    position: absolute;
                    top: 83%;
                    left: -100%;
                    text-transform: capitalize;
                    color: #fff;
                    font-size: 20px;
                    z-index: 8;
                    transition: all 0.6s ease;
                }

                &:hover {
                    p {
                        left: 8%;
                    }

                    .img-responsive1 {
                        // transform: translateY(-15px);
                        transform: translate(-130px, -15px);
                    }

                    .img-responsive2 {
                        // transform: translateY(-15px);
                        transform: translate(-70px, -15px);
                    }

                    .img-responsive3 {
                        // transform: translateY(-15px);
                        transform: translate(-250px, -15px);
                    }

                    .cards--two__rect {
                        top: 75%;

                        &:before {
                            transform: translateY(15px);
                        }
                    }

                    li {
                        transform: translateY(0);
                    }

                    .cards--two__tri {
                        right: -40%;

                        &:before {
                            right: -312px;
                        }
                    }
                }

                img {
                    transition: all 0.2s ease;
                }

                ul {
                    list-style: none;
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    z-index: 9;

                    li {
                        display: inline-block;
                        font-size: 16px;
                        margin: 7px;
                        color: #fff;
                        transition: all 0.2s ease-in-out;
                        transform: translateY(100px);

                        &:nth-child(2) {
                            transition-delay: 0.2s;
                        }

                        &:nth-child(3) {
                            transition-delay: 0.3s;
                        }

                        &:nth-child(4) {
                            transition-delay: 0.4s;
                        }
                    }
                }
            }

            .cards--two__tri {
                border-top: 220px solid transparent;
                border-bottom: 190px solid transparent;
                border-right: 288px solid #fff;
                opacity: 0.9;
                position: absolute;
                display: block;
                top: 0;
                right: -100%;
                transition: all 0.3s ease-in-out;

                &:before {
                    border-top: 220px solid transparent;
                    border-bottom: 190px solid transparent;
                    border-right: 288px solid #57ccfd;
                    position: absolute;
                    content: "";
                    display: block;
                    top: -220px;
                    right: -612px;
                    transition: all 0.3s ease-in-out;
                    transition-delay: 0.2s;
                }
            }

            .cards--two__rect {
                width: 750px;
                height: 200px;
                background: rgb(182, 232, 2);
                display: block;
                position: absolute;
                top: 175%;
                left: -78%;
                transform: rotate(30deg);
                z-index: 5;
                opacity: 0.9;
                transition: all 0.3s ease-in-out;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    position: relative;
                    height: 100%;
                    background: #2f302e;
                    transform: translateY(200px);
                    z-index: 2;
                    transition: all 0.3s ease-in-out;
                    transition-delay: 0.1s;
                }
            }



        }


    }
}