// ESTILOS DEL BANNER DE CATEGORIA PARA CONOCIMICNETOS WEB
@media (max-width: 600px) {
    .banner_icon_conocimientos {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 15vh;
        overflow: hidden;
        position: relative;
        background-color: $gris-background;

        h2{
            margin: 10px;
            font-size: 1.4rem;
            width: 300px;
            border: 1px solid red;
        }

        .container_img {
            position: absolute;
            width: 100%;
            height: 100%;
            // display: none;
            // transform: rotateZ(-14deg);



            .media_img {
                overflow: hidden;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
            transform: translate(20%, 0%);

                // display: none;

                // top: -2em;
                // left: 2em;


                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    // transform: rotateZ(45deg);
                    width: 100%;
                    height: 100%;
                    // top: 10%;
                    // left: -10%;
                    background-image: url("../iconos/iconosMenu-web.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0.1;
                    background-position: center 80%;
                }
            }
        }
    }

    // ESTILOS DEL BANNER DE CATEGORIA PARA IDIOMAS

    .banner_icon_idiomas {
        width: 300px;
        height: 60vh;
        overflow: hidden;
        position: relative;
        background-color: $gris-background;

        h2 {
            margin: 10px;
            font-size: 1.4rem;
        }

        .container_img {
            position: absolute;
            width: 100%;
            height: 100%;
            // transform: rotateZ(-14deg);



            .media_img {
                overflow: hidden;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                // top: -2em;
                // left: 2em;


                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    // transform: rotateZ(45deg);
                    width: 100%;
                    height: 100%;
                    // top: 10%;
                    // left: -10%;
                    background-image: url("../iconos/iconosMenu-idioma.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0.1;
                    background-position: center 80%;
                }
            }
        }
    }



    // ESTILOS DEL BANNER DE CATEGORIA PARA HABILIDADES

    .banner_icon_habilidades {
        width: 300px;
        height: 90vh;
        overflow: hidden;
        position: relative;
        background-color: $gris-background;

        h2 {
            margin: 10px;
            font-size: 1.4rem;
        }

        .container_img {
            position: absolute;
            width: 100%;
            height: 100%;
            // transform: rotateZ(-14deg);



            .media_img {
                overflow: hidden;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                // top: -2em;
                // left: 2em;


                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    // transform: rotateZ(45deg);
                    width: 100%;
                    height: 100%;
                    // top: 10%;
                    // left: -10%;
                    background-image: url("../iconos/iconosMenu-habilidad.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0.1;
                    background-position: center 80%;
                }
            }
        }
    }

    // ESTILOS DEL BANNER DE CATEGORIA PARA EXPERIENCIA

    .banner_icon_experiencia {
        width: 300px;
        height: 180vh;
        overflow: hidden;
        position: relative;
        background-color: $gris-background;

        h2 {
            margin: 10px;
            font-size: 1.4rem;
        }

        .container_img {
            position: absolute;
            width: 100%;
            height: 100%;
            // transform: rotateZ(-14deg);



            .media_img {
                overflow: hidden;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                // top: -2em;
                // left: 2em;


                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    // transform: rotateZ(45deg);
                    width: 100%;
                    height: 100%;
                    // top: 10%;
                    // left: -10%;
                    background-image: url("../iconos/iconosMenu-experiencia.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0.1;
                    background-position: center 80%;
                }
            }
        }
    }



    // ESTILOS DEL BANNER DE CATEGORIA PARA PORTAFOLIO

    .banner_icon_portafolio {
        width: 300px;
        height: 70vh;
        overflow: hidden;
        position: relative;
        background-color: $gris-background;

        h2 {
            margin: 10px;
            font-size: 1.4rem;
        }

        .container_img {
            position: absolute;
            width: 100%;
            height: 100%;

            // transform: rotateZ(-14deg);



            .media_img {
                overflow: hidden;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;

                // top: -2em;
                // left: 2em;


                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    // transform: rotateZ(45deg);
                    width: 100%;
                    height: 100%;
                    // top: 10%;
                    // left: -10%;
                    background-image: url("../iconos/iconosMenu-portafolio.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0.1;
                    background-position: center 80%;

                }
            }
        }
    }

}