@media (max-width: 600px) {
    .typed_wrap {
        display: block;
        width: 290px;
        height: auto;
        padding: 2px;
        color: $color-primario;
        /*centers it in the .banner*/
        position: relative;
        top: 17px;
        left: 50%;
        text-align: center;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    
    .typed_wrap h1 {
        display: inline;
    }
  
    
}